<nav>
  <ul>
    <li><%= link_to "Reserved vehicles", vehicles_theme_path %></li>
    <li><%= link_to "Reserve form", new_vehicle_path %></li>
    <li><%= link_to "My Reservations", new_vehicle_path %></li>
    <%# ! the links below will be admin links %>
    <li><%= link_to "Add Vehicle", new_vehicle_path %></li>
    <li><%= link_to "Delete Vehicle", new_vehicle_path %></li>
  </ul>
</nav>