<nav>
  <ul>
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Theme vehicles", vehicles_theme_path %></li>
    <li><%= link_to "Reserve form", vehicles_reserve_form_path %></li>
    <li><%= link_to "My Reservations", new_vehicle_path %></li>
    <%# ! the links below will be admin links %>
    <li><%= link_to "Add Vehicle", new_vehicle_path %></li>
    <li><%= link_to "Delete Vehicles", vehicles_delete_candidates_path %></li>
  </ul>
</nav>