<%= form_with(url: "vehicles/reserve", method: "post") do |form| %>

  <div>
    <%=form.label :name %>
    <%= form.text_field  :name, value: @vehicle.name %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.select :city, options_for_select([['Kampala', 'KLA'], ['Lira', 'LR']]), { prompt: "Please select a city" }, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_field :date, class: "form-control", value: Date.today, placeholder: "Choose a date", min: Date.today, max: Date.today + 1.year %> 
  </div>

    <%= hidden_field_tag :vehicle_id, @vehicle.id %>

  <%= form.submit "Reserve", class: " reserve" %>
<% end %>
