<article class="slider-item">
  <%= link_to vehicle, class: "vehicle-link"  do %>
    <div id="<%= dom_id vehicle %>" class="card">
      <div>
        <%= image_tag(vehicle.image, class: 'vehicle-image', alt: 'My Image') %> 
      </div>
      <div class="vehicle-detail">
        <p><%= vehicle.name %></p>
        <p><%= vehicle.desc %><p>
        <p>Test Fee: <%= vehicle.drive_fee %><p>
        <p>Price: <%= vehicle.purchase_fee %><p>
      </div>
    </div>
  <% end %>
</article>