<div id="<%= dom_id vehicle %>">
  <p>
    <strong>Name:</strong>
    <%= vehicle.name %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= vehicle.image %>
  </p>

  <p>
    <strong>Drive fee:</strong>
    <%= vehicle.drive_fee %>
  </p>

  <p>
    <strong>8,2:</strong>
    <%= vehicle.8,2 %>
  </p>

  <p>
    <strong>Purchase fee:</strong>
    <%= vehicle.purchase_fee %>
  </p>

  <p>
    <strong>8,2:</strong>
    <%= vehicle.8,2 %>
  </p>

</div>
