<div id="<%= dom_id vehicle %>">
  <%= link_to "Show this vehicle", vehicle %>

  <p>
    <strong>Name:</strong>
    <%= vehicle.name %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= vehicle.image %>
  </p>

  <p>
    <strong>Drive fee:</strong>
    <%= vehicle.drive_fee %>
  </p>

  <p>
    <strong>Purchase fee:</strong>
    <%= vehicle.purchase_fee %>
  </p>

</div>
