<main class="show-page">
  <section class="menu">
      <%= render "partials/nav" %>
  </section>
  <section class="middle-section">
    <%= image_tag @vehicle.image, class: 'vehicle-image', alt: 'My Image' %> 
  </section>
  <section class="details-pad">
    <article>
      <p>
      <%= @vehicle.name%></br>
      <%= @vehicle.desc %>
      </p>
      <p>
      <span>drive fee</span>
      <%= @vehicle.drive_fee%>
      </p>

      <p>
        <span>Purchase fee</span>
        <%= @vehicle.purchase_fee %>
      </p>

      <p>
      <span>Initial deposit</span>
      <%= 0.2*@vehicle.purchase_fee %>
      </p>

      <p>
      <span>Monthly installments</span>
      <%= 0.05*@vehicle.purchase_fee %>
      </p>

      <p>
        <span>Duration</span>
        <span><%= (@vehicle.purchase_fee - 0.2*@vehicle.purchase_fee)/(0.05*@vehicle.purchase_fee) %> months<span>
      </p>
    </article>


    <div>
      <%= link_to "Edit this vehicle", edit_vehicle_path(@vehicle) %> |
      <%= link_to "Back to vehicles", vehicles_path %>
      <%= button_to "Destroy this vehicle", @vehicle, method: :delete %>

      <div>
        <%= form_tag reserve_vehicle_path(@vehicle), method: :post do %>
          <%= submit_tag 'Reserve' %>
        <% end %>
      </div> 
    </div>
  </section>
</main>
