<main class="show-page">
  <section class="menu">
      <%= render "partials/nav" %>
  </section>
  <section class="middle-section">
    <%= image_tag @vehicle.image, class: 'vehicle-image', alt: 'My Image' %> 
  </section>
  <section class="details-pad">
    <article class="details">
      <div class="right-align">
        <h2><%= @vehicle.name%></h2>
        <p>- <%= @vehicle.desc %></p>
      </div>

      <ul>
        <li>
        <span>drive fee</span>
        <%= @vehicle.drive_fee%>
        </li>

        <li>
          <span>Purchase fee</span>
          <%= @vehicle.purchase_fee %>
        </li>

        <li>
        <span>Initial deposit</span>
        <%= 0.2*@vehicle.purchase_fee %>
        </li>

        <li>
        <span>Monthly installments</span>
        <%= 0.05*@vehicle.purchase_fee %>
        </li>

        <li>
          <span>Duration</span>
          <span><%= (@vehicle.purchase_fee - 0.2*@vehicle.purchase_fee)/(0.05*@vehicle.purchase_fee) %> months<span>
        </li>
      </ul>
    </article>

    <div class="control-group">
      <%= link_to "Edit", edit_vehicle_path(@vehicle), class: "control link edit" %> 
      <%= link_to "Vehicles", vehicles_path, class: "control link vehicles" %>
      <%= button_to "Delete", @vehicle, method: :delete, class: "control delete" %>
      <%= link_to "Reserve", vehicles_reserve_form_path(id: @vehicle.id), class: "control link reserve" %>
    </div>
  </section>
</main>
