<!DOCTYPE html>
<html>
  <head>
    <title>Prestige</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%# my cdn for tinyslider, font-awesome & styles %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.3.11/tiny-slider.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.3.11/min/tiny-slider.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.1/js/all.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
